*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
text-align: center;
}

.containerTitle {
  padding: 25px 0px;
}

.card{
  flex: 49%;
  margin: 5px;
}

.card-header h3{
  font-family: 'Poller One', cursive;
}

.buttForm1 {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.formNav {
  margin: 20px;
}

.searchBar{
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.searchBar input{
  width: 100%;
  text-align: center;
}


.mainDiv{
  width: 100vw;
  margin: 0;
  padding: 0;
}

.header{
  display: flex;
  width: 100%;
  height: 100px;
  background-color: rgba(187, 187, 187, 0);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.23);
}

.nav{
  display:flex;
  width: 100%;
  justify-content: center;
  /* background-color: red; */
  margin: auto;
  /* margin-left: 104px; */
  font-family: 'Poller One', cursive;
  text-decoration: none;

}

.nav a, .nav input {
  text-decoration: none;
  font-family: 'Poller One', cursive;
  color: black;
  text-transform: uppercase; 
}

.links{
  margin: 20px;
  text-decoration: none
}
.links.active {
  color: white;
  background:rgb(0, 115, 221);
  border-radius: 25%;
}
.links:hover{
  transform: scale(1.1 );
  text-decoration: underline;
}
.logoutBtn{
  position: absolute;
  width: 55px;
  height: 55px;
  /* background-color: red; */
  right: 0;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}
.logoutBtn:hover{
  color: rgb(0, 115, 221);
  transform: scale(1.1);
  cursor: pointer;

}
.exitIcon{
  width: 30px;
  height: 30px;
  margin: 0;
}
#logoutWord{
  margin: 0;
}
.charBox{
  display: flex;
  position: relative;
  width: 300px;
  min-height: 350px;
  margin: 10px;
  border: 2px solid rgb(0, 115, 221);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) inset,
    -5px -5px 10px rgba(0, 0, 0, 0.5) inset;
cursor: pointer;
}
.charImgBox{
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 10px;
  /* background-color: red; */

}
.charImg{
  width: 214px;
  height: 214px;
  border-radius: 10px;
}
.charName{
  text-align: center;
  color: black;
  margin-bottom: 10px;
  border-bottom: 2px solid rgb(42, 215, 6);
}
.nftBox{
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  margin: 10px;
  min-height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nftBoxHome{
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  justify-content: center;
}


.nftBoxHide{
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  margin: 10px;
  min-height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nftBoxHide .charDesc{
  display: none;
}

.nftImg{
  width: 200px;
  height: 200px;
  border-radius: 15px;
}
.charDesc{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 100%;
  overflow: hidden;
  transition: height 1s ease;

    /* background-color: rgba(0, 0, 0, 0.8); */
}
.btn1{
  color: rgb(0, 115, 221);
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.8);
  width:125px;
  transition: width .5s ease-in;
  border: 2px solid rgb(0, 115, 221);
  margin: 10px;
}

.btn1:hover{
  background-color: rgb(0, 115, 221);
  color: rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(0, 0, 0, 1);
}
.btn2{
  color: rgb(20, 116, 0);
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.8);
  width:125px;
  transition: width .5s ease-in;
  border: 2px solid rgb(20, 116, 0);
  margin: 10px;
}

.btn2:hover{
  background-color: rgb(46, 255, 3);
  color: rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(0, 0, 0, 1);
}
.formEdit{
  display: flex;
  flex-direction: column;
  width: 100%;
  color: rgb(0, 115, 221);
  font-weight: bold;
  /* background-color: red; */
  align-items:center;
  justify-content: center;
  text-align: center;
}
.addFormDiv{
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.addimgPre{
  width: 100px;
  height: 100px;
}
.addnftPre{
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 20px;
}
.pair1{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 5px;
}
.pairs{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 5px;
}
.inputEdit{
  /* background-color: rgba(0, 0, 0, 0.4); */
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid rgb(0, 115, 221);
  border-radius: 5px;
  padding: 3px;
}
.addNFT {
  width:45%;
}

.alert-success {
  width: 45%;
  margin-top: 25px;
  color: black;
  background: rgba(0, 114, 221, 0.452);
}

.alert-success .btn{
  background: white;
  color: black;
  border: none;
}

.addbtn{
  width: 100%;
  margin-top: 15px;
  background-color: rgb(0, 115, 221);
}

.addbtn:hover{
  background-color: rgb(0, 115, 221);
}

.formBox{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80vw;
  align-items: center;
  font-weight: bold;
}
.btnPair{
  display: flex;
}

.password{
  width: 100%;
}
.returnHome{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  margin-top: 30px;
}
.box-contents {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, .3);
  transition: .5s ease;
  border: 1px solid rgb(0, 115, 221);
  margin: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.63);

}

.hover-point {
  position: absolute;
  z-index: 2;
  width: calc(100% / 3);
  height: calc(100% / 3);
}
#point1 {
  top: 0;
  left: 0;
}
#point2 {
  top: 0;
  left: calc(100% / 3);
}
#point3 {
  top: 0;
  right: 0;
}
#point4{
  top: calc(100% / 3);
  left: 0;
}
#point5 {
  top: calc(100% / 3);
  right: 0;
}
#point6 {
  bottom: 0;
  left: 0;
}
#point7 {
  bottom: 0;
  left: calc(100% / 3);
}
#point8 {
  bottom: 0;
  right: 0;
}

#point1:hover ~ .box-contents {
  border: 2px solid rgb(42, 215, 6);
  box-shadow: 15px 15px 50px rgba(0, 0, 0, .8);
  transform-origin: right top;
  transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) rotateZ(2deg) scale(1.2);
}
#point2:hover ~ .box-contents {
  border: 2px solid rgb(42, 215, 6);
  box-shadow: 0 15px 50px rgba(0, 0, 0, .8);
  transform-origin: center top;
  transform: perspective(1000px) rotateX(10deg) scale(1.2);
}
#point3:hover ~ .box-contents {
  border: 2px solid rgb(42, 215, 6);
  box-shadow: -15px 15px 50px rgba(0, 0, 0, .8);
  transform-origin: left top;
  transform: perspective(1000px) rotateX(10deg) rotateY(10deg) rotateZ(-2deg) scale(1.2);
}
#point4:hover ~ .box-contents {
  border: 2px solid rgb(42, 215, 6);
  box-shadow: 15px 5px 50px rgba(0, 0, 0, .8);
  transform-origin: left center;
  transform: perspective(1000px) rotateY(-10deg) scale(1.2);
}
#point5:hover ~ .box-contents {
  border: 2px solid rgb(42, 215, 6);
  box-shadow: -15px 5px 50px rgba(0, 0, 0, .8);
  transform-origin: right center;
  transform: perspective(1000px) rotateY(10deg) scale(1.2);
}
#point6:hover ~ .box-contents {
  border: 2px solid rgb(42, 215, 6);
  box-shadow: 15px -15px 50px rgba(0, 0, 0, .8);
  transform-origin: right bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(-10deg) rotateZ(-2deg) scale(1.2);
}
#point7:hover ~ .box-contents {
  border: 2px solid rgb(42, 215, 6);
  box-shadow: 0 -15px 50px rgba(0, 0, 0, .8);
  transform-origin: center bottom;
  transform: perspective(1000px) rotateX(-10deg) scale(1.2);
}
#point8:hover ~ .box-contents {
  border: 2px solid rgb(42, 215, 6);
  box-shadow: -15px -15px 50px rgba(0, 0, 0, .8);
  transform-origin: left bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(10deg) rotateZ(2deg) scale(1.2) ;

}
.box-contents:hover {
  border: 2px solid rgb(42, 215, 6);
  box-shadow: -15px -15px 50px rgba(0, 0, 0, .8) ;
  transform: scale(1.2);
}

.cardContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: purple; */
}

/* =====Modal component */
.zoomBox{
display: flex;
flex-direction: row;

}
.zoomImgBox{
  display: flex;
max-width: 500px;
max-height: 500px;
min-width: 300px;
min-height: 300px;
margin-bottom: 10px;
border: 2px solid rgb(20, 116, 0);
border-radius: 18px;
}
.zoomImg{
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}
.zoomContent{
  color: rgb(46, 255, 3);
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin:0 auto;
  padding: 15px;

}
.zoomDesc{
  max-height: 400px;
  overflow-y: auto;
}
.propContainer{
  width: 100%;
  overflow-y: auto;
  border-radius: 10px;
}
.propDiv{
  display: flex;
  flex-wrap: wrap;
  /* background-color: red; */
  border-top: 2px solid rgb(0, 115, 221);
  justify-content: center;
}
.propBox{
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100px;
  height: 50px;
  display: flex;
  color: black;
  background-color: rgba(187, 187, 187, 0.73);
  border: 2px solid rgb(0, 115, 221);
  border-radius: 5px;
  margin: 10px;
}

#closeModal{
  position: absolute;
  right: 10px;
  background-color: red;
  font-weight: bold;
}
#closeModal:hover{
  transform: scale(1.2);
}
.ReactModal__Overlay {
    opacity: 0;
    z-index: 4;
    transition: opacity 100ms ease-in;
}
.ReactModal__Overlay--after-open{
    opacity: 1;
}
.ReactModal__Overlay--before-close{
    opacity: 0;
    transition: all 1000ms ease-out;
}
.ReactModal__Content{
    transform:scale(0) rotate(0deg);
    transition: transform 500ms ease-in;
}
.ReactModal__Content--after-open{
  opacity: 1;
  transform:scale(1) rotate(360deg);
}
.ReactModal__Content--before-close{
  transition: all 1000ms ease-out;
  transform:scale(0) rotate(0deg);
}
/* ========Profile page */
.container1{
  display: flex;
  flex-direction: column;
  margin-right: 0;
  margin-left: 0;
  padding:20px;
  width: 100%;
  min-height: 100vh;
  /* background-color: blue; */
  align-items: center;
}

.proContainer{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;

  /* background-color: pink; */
}
.coverDiv{
  display: flex;
  height: 220px;
  max-width: 100%;
  justify-content: center;
  background-color: blue;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8) inset,
    -5px -5px 20px rgba(0, 0, 0, 0.8) inset;

}

.proPicDiv{
  height: 250px;
  width: 250px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 235px;
  border: 2px solid rgb(0, 115, 221);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.42),
  0 10px 10px rgba(0, 0, 0, 0.42);
  overflow: hidden;
}
.proPic{
  width: 100%;
  height: 100%;
}
.proContent{
  display: flex;
  width: 100%;
  height: 100%;
  /* background-color: grey; */
}
.iconArrowDiv{
  display: flex;
  width: 60px;
  height: 30px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(0, 115, 221);
}
.iconArrow{
  color: rgb(0, 115, 221);
  width: 30px;
  height: 30px;
}
.iconArrow:hover{
  transform: scale(1.2);
  color: rgb(42, 215, 6);
  cursor: pointer;
}
.leftContent{
    width: 40%;
    min-height: 100%;
    /* background-color: orange; */
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: .8s ease;
    flex-grow: 1;
    text-transform: capitalize;
}
.yourData{
  display: flex;
  flex-direction:  column;
  margin-right: 10px;
  transition: .5s ease;
  overflow-x: hidden;
}
.dataContent{
  display: flex;
  flex-direction: column;
  height: 200px;
  margin-top: 10px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.infoBox3{
  width: calc(200px*2);
  height: 100%;
  overflow: hidden;
}
.nftBox3{
  width: 100px;
  max-height: 100px;
  border-radius: 15px;
  margin: 0 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.42);
  transform: perspective(100px) rotateX(45deg);
  transition: .5s ease;
}
.nftImg3{
  width: 100px;
  max-height: 100px;
  border-radius: 15px;

}
.nftBox3:hover{
transform: scale(1.1);
z-index: 2;
box-shadow: 5px 30px 50px rgba(0, 0, 0, 0.42),
  -5px 30px 50px rgba(0, 0, 0, 0.42);
cursor: pointer;
}
.infoBoxSlide2{
  display: flex;
  /* flex-direction: row; */
  width: 100%;
  height: 100%;
  margin-top:15px;
  animation: scroll2 30s linear infinite;
  /* background-color: red; */
}
.infoBoxSlide2:hover{
  animation-play-state: paused;
}
@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 4));
  }
}

.nftImg2{
  width: 200px;
  max-height: 200px;
  border-radius: 15px;
  margin: 10px
}
.nftImg2:hover{
  transform: scale(1.1);
  z-index: 2;
  cursor: pointer;
}
.nftBox2{
  /* background-color: green; */
  margin: 10px;
  width: 150px;
  height: 150px;

}
.infoName{
  display: flex;
  width: 100%;
  height: 20%;
  padding: 5px;
  padding-left: 10px;
  justify-content: center;
}
.proImg2{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.infoBox{
  width: calc(210px * 10);
  height: 100%;
  overflow: hidden;
}
.infoBoxSlide{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  animation: scroll 20s linear infinite;
  /* background-color: red; */
}
.infoBoxSlide:hover{
  animation-play-state: paused;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-210px *12.5));
  }
}

#delete {
  background-color: rgb(120, 4, 0);
}
#delete:hover {
  color: rgb(251, 0, 0);
  border: 3px solid rgb(251, 0, 0);
}
.title{
  margin: 10px auto;
  font-family: 'Poller One', cursive;
  color: rgb(0, 115, 221);
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.42),
    -5px -5px 5px rgba(0, 0, 0, 0.42);
}
.namePro{
  color:rgb(217, 7, 167);
}
.nameProModal{
  color:rgb(217, 7, 167);
}
.nameProModal:hover{
  font-size: 35px;
  text-decoration: underline;
  color: rgb(0, 115, 221);
  cursor: pointer;
}


.rightContent{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  /* background-color: red; */
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-transform: capitalize;
}
.rightTop{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  /* background-color: red; */
    justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.rightBottom{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  justify-content: center;
  align-content: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.rightTitle{
  display: flex;
  width: 100%;
  height: 75px;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-family: 'Poller One', cursive;
}



@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  /* .header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  .links{
    margin: 0 10px;
  }
  .links:hover{
    transform: scale(1);

  }
  .logoutBtn{

  }
  .proPicDiv{
    height: 200px;
    width: 200px;
    top: 275px;
  }

  .returnHome{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    margin-top: 45px;
  }
}
